/*{
    margin: 3px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 70px;
}
div:hover {
    transform: translate(-10px);
    cursor: pointer;
    text-align: center;
    background-color: #7b7b7b;

}

/*-----------MENU---------------*/

.MENU{

    display:flex;
    background-color: #0a0606;
    justify-content: center;
    color: #f0f0f0;
   padding: 10px;
   margin: 10px;
}


.lien{
    display: inline;
    margin: 10px;
    color: #ffffff;
}
form{
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 20px;
}

/*-----------------BODY-------------*/
body{
    font-family: 'Arial', sans-serif;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow-x: hidden;
}
/*---------------header-----------*/
header{
        background-color: #3498db;
        color: #fff;
        padding: 20px;
        border-bottom: 3px solid #4949a2;
        border-radius: 20px;
        background: linear-gradient(to right, #466971, #5415a8); 
        text-align: center;
    
}
 h1 {
    font-weight: bold; 
  font-style: italic;
    text-align: center;
    color: yellowgreen;
    text-shadow: 2px 2px 4px #333;
}
.app-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.app {
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background: linear-gradient(to top right, #0d0d0d, #babeba);
}
app h2 {
    font-size: 24px;
    margin: 10px 0;
}

.app p {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.app img {
    max-width: 100%;
    border-radius: 5px;
}
.app a {
    display: block;
    margin: 15px 0;
    font-size: 20px;
    color: #3498db;
    transition: color 0.3s;
}
.app a:hover {
    color: #297bbf;
}

footer p {
    text-align: center;
    font-size: 16px;
    margin-top: 50px;
}
body {
    min-height: 100vh;
}

.app:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
/*------------------App1.html----------------------*/
#video-background {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%;  
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
}

.tri_img img {
    transition: transform 200ms;

}

.tri_img img:hover {
    transform: scale(1.1, 1.1);
    
}
/*--------------------  App2.html-----------------------------*/
.fass img {
    transition: transform 200ms;
}
.fass img:hover{
    transform: scale(1.1, 1.1);
}
/*-----------------------------App3.mtml--------------------*/
.fadel img {
    transition: transform 200ms;
}
.fadel img:hover {
    transform: scale(1.1, 1.1);
}